{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/css.css' %}" />
    <title>Short Link</title>
  </head>

  <body>
    <svg viewbox="0 0 100 20">
      <defs>
        <linearGradient id="gradient">
          <stop color="#000" />
        </linearGradient>
        <pattern
          id="wave"
          x="0"
          y="-0.5"
          width="100%"
          height="100%"
          patternUnits="userSpaceOnUse"
        >
          <path
            id="wavePath"
            d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z"
            mask="url(#mask)"
            fill="url(#gradient)"
          >
            <animateTransform
              attributeName="transform"
              begin="0s"
              dur="1.5s"
              type="translate"
              from="0,0"
              to="40,0"
              repeatCount="indefinite"
            />
          </path>
        </pattern>
      </defs>
      <text
        text-anchor="middle"
        x="50"
        y="15"
        font-size="17"
        fill="white"
        fill-opacity="0.1"
      >
        SHORT LINK
      </text>
      <text
        text-anchor="middle"
        x="50"
        y="15"
        font-size="17"
        fill="url(#wave)"
        fill-opacity="1"
      >
        SHORT LINK
      </text>
    </svg>

    <br /><br /><br />

    <div>
      <form
        action="{% url 'create' %}"
        method="get"
        style="
          width: 300px;
          height: 150px;
          max-width: fit-content;
          margin-inline: auto;
        "
      >
        <div
          class="row"
          style="
            width: 300px;
            height: 150px;
            max-width: fit-content;
            margin-inline: auto;
          "
        >
          <form action="{% url 'qr' %}" method="get">
            <div class="form-group">
              <span>Long Link</span>
              <input
                class="form-field"
                type="text"
                name="longlink"
                id="longlink"
                placeholder="Enter your link"
              />
            </div>
          </form>

          <div class="form-group">
            <input
              class="form-field"
              type="text"
              name="short__link"
              id="short__link"
              placeholder="Enter your short link(optional)"
            />
            <span>Short Link</span>
          </div>

          <div
            class="col-4"
            style="
              width: 300px;
              height: 150px;
              max-width: fit-content;
              margin-inline: auto;
            "
          >
            <br /><br /><br /><br /><br />
            <br /><br />

            <button type="submit" class="button-55" onclick="openModal()">
              Confirm
            </button>
          </div>
        </div>
      </form>

      {% if short_link != 'None' %}
      <div
        style="
          width: 300px;
          height: 150px;
          max-width: fit-content;
          margin-inline: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
        "
      >
        <h1>Here is your Short link:</h1>
        <a href="{{ short_link }}">Click here!</a>
        <img src="{% static 'QR_codes/qr_code.png' %}" alt="QR Code" />
      </div>
      {% endif %}
    </div>
  </body>
</html>
